.card-header {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.card {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.text-bold {
  font-weight: bold;
}

.no-potty {
  color: white;
  background-color: red;
}

.sign {
  width: 100%;
  max-width: 500px;
  height: 100%;
  object-fit: cover;
}
.footer {
  font-style: italic;
}
.tp {
  width: 50px;
  margin-left: 10px;
}
